/* LOGIN CSS */
.login, .row{
    width: 100%;
    height: 100vh;
}
.login-cover{
    width:50%;
}
.login-img{
    width:100%;
    object-fit:cover;
    object-position: 0 -150px;
    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
}
.login-div{
    width:50%;
    padding: 8rem 4rem 0 6rem;
}
.logo-img{
    margin-bottom: 1.5rem;
    
}
.login-title{
    font-weight: bold;
    font-size: 15px;
}
.login-semi-title{
    font-size: 12px;
    margin-bottom:5px
}
.login-input{
    width:100%;
    margin-bottom:1.5rem;
    border: solid #A19999 1px;
    padding:10px 10px 10px 20px;
    font-size: 12px;
}


.forgot{
    text-align:right;
    color: blue;
    font-size:13px;
    margin-top:-0.5rem;
}
.login-btn{
    width: 100%;
    border: solid #A19999 1px;
    background-color: #3B5ABB;
    font-weight: bold;
    font-size: 12px;
    color: white;
    padding:10px;
}
/* LOGIN CSS */
/* SIDEBAR */
.sidebar{
    width:300px;
    height:100vh;
    background-color:#333333;
    position:fixed;
    top:0;
    transition: margin-left 0.5s;
    
}
.logo-box{
    background-color:white;
    height:50px;
}
.logo-sidebar-img{
    margin:-1.0000000000000007rem 0 0.2rem 0rem;
    height:85px;
}   
.modules-box{
    background-color:#333333;
    color:white;
    display:flex;
    flex-direction:column;
    font-size:14px;
    
}
.moduless{
    background-color:#3A3A3A;
    border-bottom: solid #f5f5f51c 1px;
    padding: 1rem 1rem 0.5rem 3rem;
    font-size:12px;

    text-decoration: none;
    color: white;
    
}
.moduless:active{
    background-color:#333333;
    border-right: solid #D9D9D9 5px;
    color:white;
}

.under-moduless{
    font-size:12px;
    border-bottom: solid #f5f5f51c 1px;
    padding: 0.5rem 0 0.5rem 6.5rem;
}
.sidebar-icons{
    height:20px;
    padding-right:1.5rem;
    
}
.sidebar-dropdown{
    height:15px;
    float:right;
    padding: 4px 1rem 0 0 ;
}
/* SIDEBAR */


/* DASHBOARD CSS */

.dashboard{
    margin-left:300px;
    padding:1rem 1rem 1rem 0.5rem;
    overflow-y: auto;
    margin-top: 0.5rem;
    transition: margin-left 0.5s;
}
.dashboard-box{
    display:flex;
}
.dashboard-container{
    display:flex;
    flex-direction:column;
}
.dashboard-icons{
    height: 33px;
    margin: 5px;
    
}
.dashboard-bg-icons{
    height:44px;
    width:44px;
    border-radius:8px;
    margin: 10px 1rem 0 0 ;
    
}

.dashboard-title{
    font-size:15px;
    font-weight:400px;
    margin: 7px 0 0 0;
}
.dashboard-quantity{
    font-weight:bold;
}
.dashboard-go-icons-div{
    width:100%;
    text-align:right;
}
.dashboard-go-icons{
    height:20px;
    margin-top:2rem;
}
.d-container{
    width:100%;
    display:flex;
    background-color:white;
    border: solid #80808026 1px;
    padding: 0 1rem 0 1rem;
    
}


/* DASHBOARD CSS */



/* LOANS CSS  */
.loans-data{
    margin-left:300px;
    padding:1rem 1rem 1rem 0.5rem;
    overflow-y: auto;
    margin-top: 0.5rem;
    transition: margin-left 0.5s;
}

/* LOANS CSS */



/* QUICK ADD CSS INPUTS */
.quick-add-inputs{
    margin-bottom:0.4rem;
    padding:8px 10px 8px 13px;
}
.label-title{
    font-size:12px;
}
.quick-add-close {
    background-color: #3B5ABB;
    border: solid #80808026 1px;
    color: white;
    font-size: 12px;
    height: 28px;
    margin: 0.4rem 1rem 0 2rem;
    padding: 0 1rem 0 1rem;
}
.quick-add-save {
    background-color: #007bff;
    border: solid #80808026 1px;
    color: white;
    font-size: 12px;
    height: 28px;
    margin: 0.4rem 0rem 0 2rem;
    padding: 0 1rem 0 1rem;
}

/* QUICK ADD CSS INPUTS */


.quick-add-inputs{
    margin-bottom:0.4rem;
    padding:8px 10px 8px 13px;
}
.label-title{
    font-size:12px;
}
.quick-add-close {
    background-color: #3B5ABB;
    border: solid #80808026 1px;
    color: white;
    font-size: 12px;
    height: 28px;
    margin: 0.4rem 1rem 0 2rem;
    padding: 0 1rem 0 1rem;
}
.quick-add-save {
    background-color: #007bff;
    border: solid #80808026 1px;
    color: white;
    font-size: 12px;
    height: 28px;
    margin: 0.4rem 0rem 0 2rem;
    padding: 0 1rem 0 1rem;
}
